@(eventForm: Form[(String, String, String, String, String, java.util.Date, String)])

@import helper._

@main("Discover your world!") {
		
			<div class="col-lg-1"></div>
			<div class="col-lg-6">
				<h3>Add a new Event</h3>
				@form(routes.Application.newEvent()){
        	@inputText(eventForm("title"))
        	@inputText(eventForm("main_image_url"))
        	@inputText(eventForm("city"))
        	@inputText(eventForm("address"))
        	@inputText(eventForm("date_event"))
        	@inputText(eventForm("description"))
        	<input type="submit" class="btn btn-primary" value="Create">
        
      	}
      	@form(routes.Application.deleteEvents){
					<input type="submit" class="btn btn-link" value="delete all">
				}
      </div> 
}
