@import helper._

@main("Discover your world!") {

<div class="col-lg-1"></div>
<div class="col-lg-10">

	<h1>Manu Chao in concerto</h1>
	<h2>Marina di Pisa Tomorrow(22:00)</h2>

	<p>Manu Chao in concerto a Marina di Pisa 12 agosto 2014 Eventi a Pisa
		Un evento straordinario inserito nel cartellone di Marenia Non Solo Mare. Il 12 agosto Manu Chao si esibirà in concerto a Marina di Pisa.

		L'artista di origini francesi animerà la serata con la sua musica contaminata ed i suoi testi poliglotti mix di francese, spagnolo, arabo, inglese e pure italiano.

		Nel tour 2014 intitolato 'La Ventura' l’ex voce dei Mano Negra sarà accompagnato da Jean Michel Gambeat al basso, Madjid Fahem alla chitarra e il fido Philippe Teboul alla batteria. Biglietti disponibili su ticketone.it e boxol.it.
		Potrebbe interessarti: http://www.pisatoday.it/eventi/concerti/manu-chao-marina-pisa-12-agosto-2014.html
		Seguici su Facebook: http://www.facebook.com/pages/PisaToday/163307690398788
	</p>
	<img alt="" src="http://www.trollradio.gr/wp-content/uploads/2014/02/Manu-Chao.jpg" 
		width="150" height="150" >
	<img alt="" src="http://thelorereport.blogdo.net/files/2009/05/manu_chao.jpg" 
		width="150" height="150" >	
	<img alt="" src="http://www.concertionline.com/wp-content/gallery/manu-chao-a-bologna/dsc_4370a.jpg" 
		width="150" height="150" >
</div>

}