@(event: (String,String,String,String, java.util.Date, String))

@import helper._

@main("Discover your world!") {
     <div class="col-lg-1"></div>
     <div class="col-lg-6">
     
      <div class="image-ev">
      	<img src=@event._2 alt="suggestion" width="600" height="370" alt="">
      	<h2 class="text-image"><span>@event._1</span></h2>
      	<h4 class="text-image"><span>@event._3 @event._4 @event._5</span></h4>
			</div>
     	
     	<div class="col-lg-3">
			</div>
      
      <div class="col-lg-3">
      	@form(routes.Application.display){
					<input type="submit" class="btn btn-default" value="Next">
				}	
			</div>
			<div class="col-lg-2">	
				@form(routes.Application.discover){
					<input type="submit" class="btn btn-primary" value="Discover!">
				}
			</div>
			</div>
}
